<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel='shortcut icon' href="{{ url_for('static', filename='icon.png') }}">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

	<div class="wrapper">
		<form action="/check_users" method="POST">
			<h1>
			Check Users
			</h1>
			<script>
				"{{ session.pop('status', default=None) }}"
			</script>
            <div class="input-box">
				<input type="password" name="secret_key" placeholder="Secret Key" required>
				<i class='bx bxs-lock-alt' ></i>
			</div>

				<button type="submit" class="btn">Check Users</button>

			<div class="register-link">
				<p><a href="/register_user">Register User</a></p>
				<p><a href="/deactivate_user">Deactivate Users</a></p>
				<p><a href="/">Menu</a></p>
				</div>

		</form>
	</div>



</body>
</html>
