<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel='shortcut icon' href="{{ url_for('static', filename='icon.png') }}">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

	<div class="wrapper">
		<form action="/register_user" method="POST">
			<h1>{% if session['status'] %}
			{{ session['status'] }}
			{% else %}
			Register
			{% endif %}
			</h1>
			<script>
				"{{ session.pop('status', default=None) }}"
			</script>
			<div class="input-box">
				<input type="text" name="username" placeholder="Username" required>
				<i class='bx bxs-user'></i>
			</div>
			<div class="input-box">
				<input type="password" name="password" placeholder="Password" required>
				<i class='bx bxs-lock-alt' ></i>
			</div>
			<div class="input-box">
				<input type="number" name="price" placeholder="Price" required>
				<i class='bx bx-money-withdraw'></i>
			</div>
			<div class="input-box">
				<input type="password" name="secret_key" placeholder="Secret Key" required>
				<i class='bx bxs-lock-alt' ></i>
			</div>
			<div class="input-box">
				<input type="number" name="days" placeholder="Valid for days" required>
				<i class='bx bxs-calendar'></i>
			</div>

				<button type="submit" class="btn">Register</button>

			<div class="register-link">
				<p><a href="/deactivate_user">Deactivate User</a></p>
				<p><a href="/check_users">Check Users</a></p>
				<p><a href="/">Menu</a></p>
				</div>

		</form>
	</div>



</body>
</html>
